/* Start General Rules*/
:root {
 --main-color: #19c8fa;
 --transparent-color: rgb(15 116 143 / 70%);
 --section-padding: 100px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media(min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media(min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media(min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style: none;
}
/* End General Rules */

/* Start Components*/

.main-heading {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 60%;
}

.main-heading h2 {
    font-size: 40px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 70px;
    position: relative;
}

.main-heading h2::before {
    content: "";
    background-color: #333;
    position: absolute;
    height: 2px;
    width: 120px;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.main-heading h2::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #333;
    bottom: -38px;

}

.main-heading p {
    color: #777;
    font-size: 14px;
    line-height: 2;
    max-width: 100%;
    margin: 0 auto 100px;
}
/* End Components*/

/* Start Header */
header {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 2;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}

header .container .logo img {
    height: 60px;
}

header .container nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container nav ul li {
    padding-left: 15px;
}

header .container nav ul li a {
    text-decoration: none;
    display: block;
    padding:40px 10px;
    font-size: 14px;
    position: relative;
    z-index: 2;
    color: white;
}

header .container nav ul li a.active,
header .container nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

header .container::after {
    content: "";
    height: 1px;
    background-color: #a2a2a2;
    width: calc(100% - 30px);
    position: absolute;
    z-index: 1;
    bottom: 0;
}

header .container nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

header .container nav .form {
    border-left: 1px solid white;
    padding-left: 10px;
}

header .container nav .form i {
    font-size: 16px;
    color: white;
}

@media(min-width: 768px) {
    header .container nav .toggle-menu {
        display: none;
    }
}

@media(max-width: 768px) {
    header .container nav ul {
        display: none;
    }

    header .container nav .toggle-menu {
        display: flex;
        color: black;
        font-size: 14px;
    }

    header .container nav .toggle-menu:hover + ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgb(0 0 0 / 50%);
    }

    header nav ul li a {
        padding: 15px !important;        
      }
}

/* End Header*/

/* Start Landing*/

.landing {
    min-height: 100vh;
    background-image: url(../images/LandingCover.jpg);
    background-size: cover;
    position: relative;
}

.landing .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}

.landing .overlay .text {
    background-color: var(--transparent-color);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 50%;
    color: white;
    padding: 50px;
    display: flex;
    justify-content: flex-end;
}

.landing .text .content {
    max-width: 500px;
}

@media(max-width: 767px) {
    .landing .overlay .text {
        width: 100%;
    }

    .landing .overlay .text .content {
        max-width: 100%;
    }
}

.landing .overlay .text h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
}

.landing .text .content p {
    font-size: 14px;
    line-height: 2;
  }

.landing .change-background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ddd;
} 

@media(max-width: 767px) {
    .landing .change-background {
        display: none;
    }
}

.landing .fa-angle-left {
    left: 0;
}

.landing .fa-angle-right {
    right: 0;
}

.landing .bullets {
    position: absolute;
    bottom: 30px;
    display: flex;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
}

.landing .bullets li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid  white;
    margin-left: 15px;
}

.landing .bullets li.active {
    background-color: var(--main-color);
    border: none;
}
/* End Landing*/

/* Start Services*/

.services {
   display: flex; 
   padding-top: var(--section-padding);
   padding-bottom: var(--section-padding);
}

.services .srv-container {
    display: grid;   
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 50px;
    margin-top: 250px;
}

.services .srv-container .srv-box {
    display: flex;
}


.services .srv-container .srv-box .text {
    margin-left: 20px;
}

@media(max-width: 767px) {
    .services .srv-container .srv-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .services .srv-container .srv-box .text {
        margin-top: 25px;
        text-align: center;
    }
}

.services .srv-container .srv-box .text h3 {
    color: var(--main-color);
    margin-bottom: 25px;
}

.services .srv-container .srv-box .text p {
    color: #777;
    line-height: 2;

}
/* End Services */

/* Start Design */
.design {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/DesignCover.jpg);
    display: flex;
    align-items: center;
    position: relative;
    height: 600px;
    overflow: hidden;
}

.design::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}

.design .image,
.design .text {
    z-index: 2;
    flex: 1;
    position: relative;
}

.design .image {
    text-align: center;
    bottom: -205px;
}

@media(max-width: 767px) {
    .design .image {
        display: none;
    }
}

.design .text {
    background-color: var(--transparent-color);
    padding: 40px;
    color: white;
}


.design .text h3 {
    margin-bottom: 40px; 
    font-weight: normal;
}

.design .text ul li {
    margin-bottom: 25px;
}

.design .text ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f108";
    font-weight: 900;
    margin-right: 10px;
}
/* End Design */

/* Start Portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.portfolio .container {
    position: relative;
}

.portfolio .container .main-heading {
    display: block;
}

.portfolio .container .shuffle {
    display: flex;
    justify-content: center;
    width: fit-content;
}

.portfolio .shuffle a {
    text-decoration: none;
    color: black;
    padding: 10px;
}
.portfolio .shuffle a.active {
    background-color: var(--main-color);
    color: white;
}
.portfolio .imgs-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 200px;
}
.portfolio .imgs-container .box {
    overflow: hidden;
    position: relative;
}
.portfolio .imgs-container .box:hover .caption {
    bottom: 0;
}
.portfolio .imgs-container .box:hover img {
    transform: rotate(3deg) scale(1.1);
}
@media (min-width: 768px) {
    .portfolio .imgs-container .box {
        flex-basis: 50%;
    }
}
@media (min-width: 1199px) {
    .portfolio .imgs-container .box {
        flex-basis: 25%;
    }
}
.portfolio .imgs-container .box img {
    max-width: 100%;
    transition: 0.3s;
}
.portfolio .imgs-container .box .caption {
    position: absolute;
    left: 0;
    padding: 20px;
    background-color: white;
    width: 100%;
    transition: 0.3s;
    bottom: -100%;
}
.portfolio .imgs-container .box .caption h4 {
    font-weight: normal;
    margin-bottom: 10px;
}
.portfolio .imgs-container .box .caption p {
    color: var(--main-color);
}
.portfolio .more {
    background-color: var(--main-color);
    color: white;
    padding: 15px 20px;
    display: block;
    width: fit-content;
    margin: 30px auto;
    text-decoration: none;
    text-transform: uppercase;
}
/* End Portfolio */

/* Start Video */

.video {
    position: relative;
}

.video::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
}

.video video {
    width: 100%;
}

.video .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    background-color: var(--transparent-color);
    padding: 50px;
}

.video .text h2 {
    color: white;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 20px;
}

.video .text p {
    color: white;
    margin-bottom: 20px;
}

.video .text button {
    padding: 12px;
    background-color: black;
    color: white;
    border: none;
    text-transform: uppercase;
}
/* End Video */

/* Start About */

.about {
    overflow: hidden;
    margin-top: var(--section-padding);
    text-align: center;
}

.about img {
    max-width: 100%;
    position: relative;
    bottom: -120px;
    margin-top: 120px;
}
/* End About */

/* Start Stats */
.stats {
    background-image: url(../images/stats.png);
    margin-bottom: var(--section-padding);
}

.stats::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 30%);
}

.stats .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.stats .container .box {
    padding: 40px;
    margin: 40px;
    text-align: center;
    position: relative;
}

.stats .container .box i {
    width: 40px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 50%;
    margin: 0 auto 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stats .container .box .number {
    color: white;
    font-weight: bold;
    font-size: 50px;
}

.stats .container .box p {
    color: white;
    font-size: 14px;
}
/* End Stats */

/* Start Our Skills */

.our-skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.our-skills .container {
    display: flex;
    justify-content: space-between;
}

.our-skills .container > div {
    flex-basis: 45%;
}

@media(max-width: 767px) {
    .our-skills .container {
        display: flex;
        flex-wrap: wrap;
    }

    .our-skills .container > div {
        flex-basis: 90%;
        margin-bottom: 60px;
    }
}

.our-skills .container .testimonials ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-skills .container .testimonials ul li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #333;
    margin-left: 5px;
}

.our-skills .container .testimonials ul li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.our-skills .container .text {
    text-align: center;
}

.our-skills .container .text > h4 {
    font-weight: normal;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.our-skills .container .text p {
    color: #333;
    line-height: 2;
    margin-bottom: 30px;
}

.our-skills .container .content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.our-skills .container .content img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.our-skills .container .content P {
    line-height: 2;
    margin-left: 30px;
    border-bottom: 1px solid #33333357;
    padding: 20px;
    margin-bottom: 20px;
} 

.our-skills .container .content h4{
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: normal;
    padding: 25px 0;
    color: #333;
}

.our-skills .skills .prog-holder h4{
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.our-skills .skills .prog-holder .prog {
    background-color: #dedadc;
    height: 25px;
    margin-bottom: 30px;
}

.our-skills .skills .prog-holder .prog span {
    display: block;
    width: 90%;
    height: 100%;
    background-color: var(--main-color);
    position: relative;
}

.our-skills .skills .prog-holder span::before {
    content: attr(data-progress);
    padding: 5px 2px;
    background-color: black;
    color: white;
    position: absolute;
    top: -40px;
    right: -18px;
    border-radius: 5px;
}

.our-skills .skills .prog-holder span::after {
    content: "";
    position: absolute;
    border-color: black transparent transparent transparent;
    border-style: solid;
    border-width: 6px;
    right: -7px;
    top: -8px;
}
/* End Our Skills */
/* Start Quote */
.quote {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url("../images/quote.jpg");
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
  }
  .quote::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 75%);
  }
  .quote .container {
    position: relative;
  }
  .quote q {
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
  }
  /* End Quote */
  /* Start Pricing */
  
  .pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
  }


  .pricing .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .pricing .container .main-heading {
    position: unset;
    margin-left: auto;
  }

  .pricing .container .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
  }

  .pricing .cards .card{
    background-color: #fcfcfc;
    width: fit-content;
    padding: 30px 60px;
  }

  .pricing .cards .card h4 {
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    font-size: 20px;
  }

  .pricing .cards .card span {
    position: relative;
    left: 27%;
    font-weight: bold;
    font-size: 50px;
  }

  .pricing .cards .card span::before {
    content: "$";
    font-weight: normal;
    font-size: 24px;
    position: absolute;
    left: -25px;
  }

  .pricing .cards .card span::after {
    content: "/Mo";
    font-weight: normal;
    font-size: 20px;
    position: absolute;
    bottom: 5px;
    right: -47px;
  }

  .pricing .container .cards .card p {
    text-align: center;
    padding: 15px 0;
  }

  .pricing .container .cards .card p:not(:last-child) {
    border-bottom: 1px solid var(--main-color);
  }

  .pricing .container .cards .card .card-footer {
    text-align: center;
    padding: 41px 0 20px;
    border-top: 1px solid var(--main-color);
  }

  .pricing .container .cards .card a {
    text-decoration: none;
    border: 1px solid var(--main-color);
    padding: 15px;
  }

  .pricing .container .contact {
    text-align: center;
    margin: 15px;
  }

  .pricing .container .contact p {
    text-align: center;
    margin: 25px;
  }

  .pricing .container .contact a {
    text-decoration: none;
    color: white;
    background-color: var(--main-color);
    padding: 10px 8px;
  }
  /* End Pricing */

  /* Start Subscribe */

  .subscribe {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/subscribe.jpg);
    position: relative;
  }

  .subscribe::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 25%);
    top: 0;
    left: 0;
  }

  .subscribe .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .subscribe .container form {
    position: relative;
    margin-bottom: 20px;
  }

  .subscribe .container form i {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
  }

  .subscribe .container form input[type="email"] {
    padding: 15px 0px 15px 50px;
    caret-color: var(--main-color);
    position: relative;
    border: 1px solid white;
    background-color: transparent;
    border-right: none;
  }

  .subscribe .container form input[type="submit"] {
    padding: 15px;
    position: absolute;
    border: 1px solid white;
    background-color: var(--main-color);
    text-transform: uppercase;
    color: white;
    border-left: none;
  }

  .subscribe .container p {
    color: white;
  }

  .subscribe .container form input::placeholder {
    color: white;
  }
  /* End Subscribe */
  /* Start Contact Us */
  
  .contact-us {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
  }

  .contact-us .container .main-heading {
    position: unset;
    margin-left: auto;
  }

  .contact-us .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contact-us .content form {
    flex-basis: 70%;
  }


  .contact-us .content form .main-input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    padding-left: 10px;
  }

  .contact-us .content form .main-input:last-of-type {
    height: 100px;
  }

  .contact-us .content input[type="submit"] {
    text-transform: uppercase;
    background-color: var(--main-color);
    padding: 15px;
    border: none;
    color: white;
  }

  .contact-us .content .info {
    flex-basis: 25%;
  }

  @media(max-width: 767px) {
    .contact-us .content {
        flex-direction: column;
    }

    .contact-us .content .info {
        order: -1;
        text-align: center;
    }

    .contact-us .content form {
        width: 100%;
    }
  }

  .contact-us .content .info h4 {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 40px;
  }

  .contact-us .content .info h4:nth-of-type(2) {
    margin-top: 60px;
  }


  .contact-us .content .info span {
    display: block;
    margin-bottom: 15px;
    color: #777;
  }

  .contact-us .content .info address {
    color: #777;
    line-height: 2;
  }
  /* End Contact Us */

  /* Start Footer */
  .footer {
    padding-top: calc(var(--section-padding) / 2);
    padding-bottom: calc(var(--section-padding) / 2);
    background-image: url(../images/subscribe.jpg);
    position: relative;
  }

  .footer::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
  }

  .footer .container {
    position: relative;
    text-align: center;
    color: white;
  }

  .footer .container img {
    padding: 20px;
  }

  .footer .container p:not(.copyright) {
    text-transform: uppercase;
    font-size: 22px;
    border-bottom: 1px solid white;
    width: fit-content;
    margin: 20px auto;
    padding-bottom: 20px;
  }

  .footer .container .social i:not(:first-of-type) {
    margin-left: 20px;
    padding-bottom: 20px;
  }

  .footer .container span {
    color: var(--main-color);
    font-weight: bold;
  }
  /* End Footer */